*{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
border: border-box;
}

.navbar{

    height: 60px;
    background-color:  #0f1111;;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
height: 50px;
    background-image: url("amazonlogo.svg");
    width: 100%;
    background-size: cover;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.border{

    border: 2px  solid transparent;
}
.border:hover{
    border:1.5px solid white ;
}

.add-first{
    color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}

.add-second{

font-size: 1rem;
margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;

}







.nav-search{
    display: flex;
    width: 650px;
    height: 30px;
    border-radius:4px ;

}

.nav-search:hover{
    border: 2px solid orange;
}


.search-icon{
    color: rgb(10, 2, 3);
    background-color: orange;
    width: 45px;
    display: flex;
    border-top-left-radius: 4px;
border-bottom-left-radius:4px ;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}

.search-select{  
border-top-left-radius: 4px;
border-bottom-left-radius:4px ;
background-color: #f3f3f3;
width: 50px;
text-align: center;
border: none;
}


.search-input{

width: 500px;
font-size: larger;
border: none;

}


.sign-in{
    font-size: 0.7rem;
}
#list{
    font-size: 0.85 rem;
    font-weight: 700px;
}

.card i{
font-size: 30px;
}
.card{
    font-size: 0.85rem;
    font-weight: 700px;
}


/** panel **/
.panel{
    display: flex;
    background-color: #222f3d;
    height: 40px;
    color: white;
    align-items: center;
justify-content: space-evenly;
    
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}


.panel-ops{
    width: 70%;
    font-size: 0.85 rem;
}


/* hero */

.hero-section
{
    background-image: url("hero.jpg");
    height: 300px;
    background-size: cover;
}


/** shop **/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:whitesmoke;
    
}

.box{
    width: 23%;
    height: 350px;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 15PX;
}

.box1-image{
    background-image: url("box1.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}


.box-content{
    margin-left:10PX ;
    margin-right: 10PX;
}

.box-content p{
    color: rgb(9, 51, 96);
}


.box2-image{
    background-image: url("box2.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}
.box3-image{
    background-image: url("box3.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.box4-image{
    background-image: url("box4.avif");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}


.box5-image{
    background-image: url("box5.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.box6-image{
    background-image: url("box6.webp");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.box7-image{
    background-image: url("box7.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.box8-image{
    background-image: url("box8.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}


.box9-image{
    background-image: url("box9.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}


.box10-image{
    background-image: url("box10.avif");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}


.box11-image{
    background-image: url("box11.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.box12-image{
    background-image: url("box12.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.box13-image{
    background-image: url("box13.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.box14-image{
    background-image: url("box14.webp");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.box15-image{
    background-image: url("box15.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}


.box16-image{
    background-image: url("box16.jpg");
    height:300px ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}



/** footer **/


footer{
    margin-top: 15px;
}



.footer-pan1{
    background-color:#37475a ;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}


.foot-pan2{


    display: flex;
    background-color: #222f3d;
    color: white;
    height: 500px;
    align-items: center;
    font-size: 0.85rem;
    justify-content: space-evenly;
}

ul a {
    display: block;
font-size: 0.85rem;
    color: #dddd;
    text-decoration: none;
    margin-top: 10px;
}


.foot-pan3{

    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white ;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo{
    background-image: url("amazonlogo.svg");
    height: 50px;
    background-size: cover;
    width: 100px;
    
}

.button{
    background-color: #f0c14b;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 0.85rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    margin-right: 20px;
}

@media only screen and (max-width:600px
)
{ 
    body{ text-align: center;}
}