*{
    border: 0px;
    padding: 0px;
}


main{
    background-color: silver;
    height: 500px;
    width: 2000px;
}

footer{
    background-color: rgb(244, 244, 173);
    height: 200px;
    width: 2000px;
}

.box1{
    background-color:rgba(0, 0,255, 0.3) ;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

.box2{
    background-color:rgba(255, 0, 217, 0.3) ;
    height: 100px;
    width: 100px;
    border: 2px solid black;
 display: inline-block;
}
.box3{
    background-color:rgba(206, 108, 108, 0.3) ;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;

}

























.navi{
    height: 60px;
    background-color: black;
    
    }
    
    button{
        background-color: #f08804;
    
    }
    #logo{
        color: #f08804;
    font-size: 25px;
    }
    
    a{
        margin-right: 200px;
        text-decoration: none;
    }